<%= turbo_frame_tag "show_content", src: details_trip_path(@trip) %>

<div data-controller="toggle-map">
  <%= link_to map_trip_path(@trip), class: "btn-action action-btn-container map-link", data: { toggle_map_target: "map", "turbo-frame": :"show_content"} do  %>
    <i class="fa-solid fa-map fs-3"></i>
  <% end %>

    <%= link_to details_trip_path(@trip), class: "action-btn-container d-none btn-action", data: { toggle_map_target: "details", "turbo-frame": :"show_content"} do  %>
      <i class="fa-solid fa-list fs-3"></i>
    <% end %>
</div>
