// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #183153;
$blue: #1f487f;
$yellow: #EFC050;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6c757d;;
$light-gray: #F4F4F4;
$dark-gray: #f3f4f5;
