<div class="modal fade" id="edit-item-<%= item.id %>" tabindex="-1" aria-labelledby="editItem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
        <%= render "edit_form", item: item %>
    </div>
  </div>
</div>
