.alert {
  position: fixed;
  bottom: 4px;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem 1.5rem;
}


.alert-info {
  background-color: $blue;
  color: $yellow;
  .btn-close {
    color: $yellow;
  }
}

.alert-warning {
  color: $blue;
  background-color: $yellow;
  .btn-close {
    color: $blue;
  }
}
