.action-btn-container {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 16px;
  bottom: 16px
}

.btn-action {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $blue;
  color: $yellow;
  padding: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-yellow {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: $yellow;
  border: 2px solid $blue;
  border-bottom-width: 4px;
  border-right-width: 4px;
  color: $blue;
  display: inline-block;
  min-width: 140px;
}

.btn-blue {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: $blue;
  border: 2px solid $yellow;
  border-bottom-width: 4px;
  border-right-width: 4px;
  color: $yellow;
  display: inline-block;
  min-width: 140px;
}

.btn-small {
  padding: 8px 8px;
  min-width: 50px;
}

.btn-large {
  width: 100%
}
